AWS_REGION = "us-east-1"

# aws credentials
AWS_ACCESS_KEY = ""
AWS_SECRET_KEY = ""

TAG_PREFIX = ""

AMI_ID = ""

DATABASE_IDENTIFIER = ""

SNAPSHOT_IDENTIFIER = ""

DATABASE_PORT = 3306

PATH_TO_WEBSERVER_PUBLIC_KEY = ""

PATH_TO_BASTION_PUBLIC_KEY = ""

APP_PORT = 8000
